.column {
    float:left;
    width: 100%;
    height: 50px;
    background-color: #000;
    margin: 10px 0;
}
/* styles for tablet */
@media (min-width: 768px) {
    .column {
        background-color: #e84160;
        width: 30%;
        margin: 10px;
    }
    
}
/* styles for desktop */
@media (min-width: 992px) {
    .column {
        background-color: #0997d3;
    }
}


